<<<<<<< HEAD
<!--code snippet-->
<div class="code-block">
    <pre>
        <code>
            <% codeLines.forEach(function(line) { %>
                <%= line %>
            <% }); %>
        </code>
    </pre>
=======
<!--code snippet-->
<div class="code-block">
    <pre>
        <code>
            <% codeLines.forEach(function(line) { %>
                <%= line %>
            <% }); %>
        </code>
    </pre>
>>>>>>> origin/main
</div>