 <!--change a href for all-->
 <header>
      <a href="/users/login">Login</a>
      <a class="cta-button" href="/register/new">Sign Up</a>
      <a href="/"><p>home</p></a>  <!--same page-->
  </header>