 <!--header-->
 <header class="navbar-top">
    <div class="navbar-top-container">
       <div class="navbar-top-toggle" id="navbar-top-toggle">
          <i class="ri-menu-line"></i>
       </div>

       <a href="/feed" class="navbar-top-logo">
           <img src="/assets/img/loop-logo.png" >
       </a>
   
       <div class="login-btn">
           <a href="/login">
               <button class="login-btn">Login/Register</button>
           </a>
       </div>
       
    </div>
 </header>