      <!--sidebar drop-->
      <div class="sidebar" id="sidebar">
        <nav class="sidebar-container">
           <div class="sidebar-menu">
              <div class="sidebar-menu-list">
               <h3 class="sidebar-title">
                  <span>Personal</span>
               </h3>

               <div class="sidebar-menu-list">
                  <a href="/users" class="sidebar-select"> <!--check must be channged to current user-->
                     <i class="ri-user-line"></i>
                     <span class="sidebar-select-name">Personal Loop</span>
                     <span class="sidebar-select-small">Personal Loop</span>
                  </a>

               </div>
                
               <div class="sidebar-menu-list">
                  <a href="/feed" class="sidebar-select active-select">
                     <i class="ri-infinity-line"></i>
                     <span class="sidebar-select-name">The Loop</span>
                     <span class="sidebar-select-small">Loop</span>
                  </a>
                  
                  <a href="/feed" class="sidebar-select">
                    <i class="ri-add-circle-line"></i>
                    <span class="sidebar-select-name">Contribute</span>
                    <span class="sidebar-select-small">Contribute</span>
                 </a>


                 <a href="info.html" class="sidebar-select">
                    <i class="ri-compass-3-line"></i>
                    <span class="sidebar-select-name">About IDM</span>
                    <span class="sidebar-select-small">About IDM</span>
                 </a>

                 <a href="calendar.html" class="sidebar-select">
                    <i class="ri-calendar-line"></i>
                    <span class="sidebar-select-name">Event Loop</span>
                    <span class="sidebar-select-small">Events</span>
                 </a>

              </div>

              <h3 class="sidebar-title">
                 <span>Courses</span>
              </h3>

              <div class="sidebar-menu-list">
                 <p class="sidebar-select" data-sidebar="web">
                    <i class="ri-code-s-slash-line"></i>
                    <span class="sidebar-select-name">Web Authoring</span>
                    <span class="sidebar-select-small">Web Authoring</span>
                 </p>

                 <p class="sidebar-select" data-sidebar="video">
                    <i class="ri-film-line"></i>
                    <span class="sidebar-select-name">Video & Sensors</span>
                    <span class="sidebar-select-small">Video & Sensors</span>
                 </p>

                 <p class="sidebar-select" data-sidebar="media">
                    <i class="ri-play-circle-line"></i>
                    <span class="sidebar-select-name">Critical Media</span>
                    <span class="sidebar-select-small">Critical Media</span>
                 </p>

                 <p class="sidebar-select" data-sidebar="visual">
                    <i class="ri-dashboard-line"></i>
                    <span class="sidebar-select-name">Visual Computing</span>
                    <span class="sidebar-select-small">Visual Computing</span>
                 </p>

                 <p class="sidebar-select" data-sidebar="prog">
                   <i class="ri-computer-line"></i>
                   <span class="sidebar-select-name">Programming</span>
                   <span class="sidebar-select-small">Programming</span>
                 </p>

              </div>

           </div>

           <div class="sidebar-logout">
               <a href="#" class="sidebar-select">
                   <i class="ri-logout-box-r-line"></i>
                   <span class="sidebar-select-name">Logout</span>
                   <span class="sidebar-select-small">Logout</span>
                </a>
           </div>
        </nav>
     </div>
