<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/assets/css/styles.css">
    <title>404 - Error</title>
</head>
<body>

     <main class="main-error">
        <h1>404 - Error</h1>
        <h2>There's nothing here, I fear!</h2>
        <button class="btn">Back 2 The Loop!</button>
        <a href="/feed">
            <img src="../public/assets/img/loop-logo.png" style="width: 35vh;">
        </a>        

     </main>
</body>
</html>
