<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>About IDM</title>
</head>

<main class="main main-container" id="main">
    <section>
        <h1>About IDM</h1>
        <div class="info-container faculty">
            <h2 class="h2-teachers">Faculty</h2>
    
            <!--Nina-->
            <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://www.scss.tcd.ie/Nina.Bresnihan/websitephoto02.jpg" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Dr. Nina Bresnihan</a></h1>
                    <span class="teachers_subtitle small">
                    Assistant Professor, Computer Science
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>nina.bresnihan@tcd.ie<br>
                            +353 1896 2704<br>
                        <a href="http://www.scss.tcd.ie/Nina.Bresnihan">
                            <p>www.scss.tcd.ie/Nina.Bresnihan</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Web Authoring</li>
                    </ul>
                </div>
            </article>

             <!--Mads-->
            <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://www.tcd.ie/Secretary/FellowsScholars/assets/images/Headshot%202023/Haahr,%20Mads.jpg" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Prif. Mads Haahr</a></h1>
                    <span class="teachers_subtitle small">
                        Associate Professor, Computer Science
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>mads.haahr@tcd.ie<br>
                            +353 1896 1540<br>
                        <a href="www.scss.tcd.ie/Mads.Haahr/">
                            <p>www.scss.tcd.ie/Mads.Haahr/</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Game Design</li>
                    </ul>
                </div>
            </article>

             <!--Joris-->
            <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://cdn.pixabay.com/photo/2024/02/28/04/53/man-8601195_1280.png" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Joris Vreeke</a></h1>
                    <span class="teachers_subtitle small">
                    SCSS Staff
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>VREEKEJ@tcd.ie<br>
                            
                        <a href="https://www.scss.tcd.ie/~vreekej/">
                            <p>www.scss.tcd.ie/~vreekej</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Programming</li>
                    </ul>
                </div>
            </article>

             <!--Radek-->
            <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://cdn.pixabay.com/photo/2024/02/28/04/53/man-8601195_1280.png" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Dr. Radoslaw MACIEJ PRZEDPELSKI</a></h1>
                    <span class="teachers_subtitle small">
                    Ph.D Digital Arts and Humanities
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>PRZEDPRM@tcd.ie<br>
                            
                        <a href="http://www.tara.tcd.ie/handle/2262/102513">
                            <p>www.tara.tcd.ie/handle/2262/102513</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Critical Media</li>
                    </ul>
                </div>
            </article>

             <!--John-->
            <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://www.scss.tcd.ie/John.Dingliana/pic.jpg" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Dr. John Dingliana</a></h1>
                    <span class="teachers_subtitle small">
                    Assistant Professor in Computer Science
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>John.Dingliana@tcd.ie <br>
                            (+3531) 896 3680  <br>
                        <a href="https://www.scss.tcd.ie/John.Dingliana/">
                            <p>www.scss.tcd.ie/John.Dingliana</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Visual Computing</li>
                    </ul>
                </div>
            </article>

             <!--Jack-->
             <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://cdn.pixabay.com/photo/2024/02/28/04/53/man-8601195_1280.png" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Jack Cawley</a></h1>
                    <span class="teachers_subtitle small">
                    School of Computer Science and Statistics
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>cawleyjm@tcd.ie<br>
                            
                        <a href="https://www.scss.tcd.ie/~cawleyjm/">
                            <p>www.scss.tcd.ie/~cawleyjm/</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Audio</li>
                    </ul>
                </div>
            </article>

             <!--Neill-->
             <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://cdn.pixabay.com/photo/2017/03/31/17/44/avatar-2191934_1280.png" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Dr. Neill O'Dwyer </a></h1>
                    <span class="teachers_subtitle small">
                    Research Fellow, Drama
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>ODWYERNE@tcd.ie<br>
                            
                        <a href="https://www.tcd.ie/research/profiles/?profile=odwyerne">
                            <p>www.tcd.ie/research/profiles/?profile=odwyerne</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Film</li>
                    </ul>
                </div>
            </article>
            
             <!--Eamonn-->
             <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://media.licdn.com/dms/image/D4E03AQFmLlbz_AWE9g/profile-displayphoto-shrink_400_400/0/1707220398039?e=1719446400&v=beta&t=GACVBZrdDVyAhMGJKRX70ky7r2cvQf2Ps6ekC3FO1Kc" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Eamonn Hall</a></h1>
                    <span class="teachers_subtitle small">
                    Scss Staff
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>HALLEA@tcd.ie<br>
                        <a href="https://www.scss.tcd.ie/~hallea/">
                            <p>www.scss.tcd.ie/~hallea</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Graphic Design</li>
                    </ul>
                </div>
            </article>

             <!--Alex-->
             <article class="teachers dark blue">
                <a class="teachers_img_link" href="#">
                    <img class="teachers_img" src="https://cdn.pixabay.com/photo/2017/03/31/17/44/avatar-2191934_1280.png" alt="Image Title" />
                </a>
                <div class="teachers_text">
                    <h1 class="teachers_title blue"><a href="#">Alex Towers</a></h1>
                    <span class="teachers_subtitle small">
                    Scss Staff
                    </span>
                    <div class="teachers_bar"></div>
                    <div class="teachers_preview-txt">
                        <p>atowers@tcd.ie<br>
                        <a href="https://www.scss.tcd.ie/~atowers/">
                            <p>/www.scss.tcd.ie/~atowers</p>
                        </a>
                        
                    </div>
                    <ul class="teachers_tagbox">
                        <li class="tag_item">Legal</li>
                    </ul>
                </div>
            </article>

        </div>
    </section>
 </main>
</body>
</html>
