<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Register & Login</title>
</head>
<body>
    <div class="register-login-container">
        <div class="register-login">
            <form action="/login" method="post" enctype="multipart/form-data" class="log-in-form">
                <h2>Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username"
                    id="username" placeholder="username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="email" name="user_email"
                    id="user_email" placeholder="your@tcd.ie">
                </div>
                <input type="submit" value="Login" class="btn">
                <p class="social-text">Log in with your TCD Mail!</p>
                <div class="social-media-icons">
                    
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    
                </div>
                <p class="account-text">Not in The Loop yet?<a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
            <form action="" class="sign-up-form">
                <h2>Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p class="social-text">Or Log in with your TCD mail!</p>
                <div class="social-media-icons">
                    
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    
                </div>
                <p class="account-text">Already in The Loop?<a href="#" id="sign-in-btn2">Log in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already in The Loop?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                    <button class="btn-register" id="sign-in-btn">Log in</button>
                </div>
                <img src="signin.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Not in The Loop yet?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                    <button class="btn-register" id="sign-up-btn">Sign up</button>
                </div>
                <img src="images/.png" alt="" class="image">
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>