<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />


</head>

<body>
    <h1>Mosaic</h1>

    <% if (data.result.length> 0) { %>  <!--change this to the actual results array-->
        <img class="post_pic" 
            src="<%= posts[index].path.slice(6) %>" 
            alt="<%= posts[index].alt_text%>" />


        <p>Name: <%= data.result[0].given_name%>
                <%=data.result[0].surname %>
        </p>


        <% } else { %>
            <p>No user found</p>
            <% } %>

</body>

</html>