<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/app.css" />
</head>


<body>
    <h1>Profile Page</h1>
    <p>        
        <%= data.name %>
            <%= data.surname %>.
        </p>
        <img src="/img/<%= data.path %>"alt="">
</body>
</html>
