<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />


</head>

<body>
    <button onclick="setChooseForm(true);">Image</button>
    <button onclick="setChooseForm(false);">Code</button>

    <h1>Upload</h1>
    <!-- name muss gleichbleiben!-->
    <p>Choose between uploading an image or code snippet</p>
    <div id="img-form">
    <form action="/uploadimg" method="post" enctype="multipart/form-data">
        <input type="hidden" id="chooseImage" name="chooseImage" value="true">
        <label for="author">Please put in your ID:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="caption">Write a caption:</label><br>
        <input type="text" id="caption" name="caption"><br>
        <label for="module">Please choose your favourite module</label><br>
        <input type="radio" id="web" name="module" value="1">
        <label for="web">Web Authoring</label><br>
        <input type="radio" id="web" name="module" value="2">
        <label for="css">Programming</label><br>
        <input type="radio" id="javascript" name="module" value="3">
        <label for="audio video sensor">Audio Video Sensor</label><br>
        <input type="file" id="image" name="image" accept="image/*">
        <input type="submit" value="Upload Image">        
    </form>
</div>
<div id="text-form" style="display:none">
    <form action="/uploadtext" method="post" enctype="multipart/form-data">
        <input type="hidden" id="chooseImage" name="chooseImage" value="false">
        <label for="author">Please put in your ID:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="caption">Write a caption:</label><br>
        <input type="text" id="caption" name="caption"><br>
        <label for="module">Please choose your favourite module</label><br>
        <input type="radio" id="web" name="module" value="1">
        <label for="web">Web Authoring</label><br>
        <input type="radio" id="web" name="module" value="2">
        <label for="css">Programming</label><br>
        <input type="radio" id="javascript" name="module" value="3">
        <label for="audio video sensor">Audio Video Sensor</label><br>
        <label for="code">Paste your code here:</label>
        <textarea id="code" name="code"></textarea><br>
        <input type="submit" value="Upload Code">
    </form>
</div>

    <script src="/assets/javascript/main.js"></script>
</html>