<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />


</head>
<body>
    <h1>User Overview</h1>
    <%   for( let i = 0; i < users.length; i++) { %>
   
    <ul>
        <a href="/users/<%= users[i].user_id%>">
            <li>Username:
                <%= users[i].username %> 
            </li>
        </a>

        <li>Name:    <%= users[i].given_name%>   <%=users[i].surname %>
        </li>

    </ul>
    
    <% }; %>


</body>
</html>
